{% extends 'base.html.twig' %}

{% block title %}Back office | Getion des membres{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">Gestion des membres</h1>   


<div class="table-responsive">
    <table class="table table-bordered text-center">
        <tr class="bg-dark text-white">
            
            {% for data in colonnes %}
                {% if data !='id' %}

                    <th scope="col" >{{ data }}</th>

                {% endif %}
                
            {% endfor %}
            <th scope="col">Supprimer</th>
        </tr>

        {% for data in users %}

            <tr>
                <td>{{ data.email}}</td>
                <td>{{ data.password}}</td>
                <td>{{ data.username}}</td>
                <td>{{data.Roles[0]}}</td>
                <td><a href="{{ path('admin_delete_user', {'id': data.id }) }}" class="text-dark"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        
        {% endfor %} 
    </table>
</div>

{% endblock %}