{% extends 'base.html.twig' %}

{% block title %}Back office | Gestion des membres{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">Gestion des membres</h1>   

    <a href="{{ path('admin') }}" class="btn btn-dark btn-sm mb-1">Retour au BACKOFFICE</a>
    
        <table class="table table-bordered text-center bg-white mt-2">
            <tr class="bg-dark ">
                
                {% for data in colonnes %}

                    {% if data !='id' and data != 'password' %}
                        <th scope="col" >{{ data }}</th>
                    {% endif %}
                    
                {% endfor %}
                <th sople="col">Modification</th>
                <th scope="col ">Supprimer</th>
            </tr>

            {% for data in users %}

                <tr class="text-black">
                    <td>{{ data.email}}</td>
                    <td>{{ data.username}}</td>
                    <td>{{data.roles[0]}}</td>
                    <td class="align-middle"><a href="{{ path('admin_edit_user', {'id': data.id}) }}" class="btn btn-dark text-white"><i class="fas fa-edit fa-1x"></i></a></td>
                    <td><a href="{{ path('admin_delete_user', {'id': data.id }) }}" class="text-dark"><i class="fas fa-trash-alt btn btn-danger text-white"></i></a></td>
                </tr> 
            
            {% endfor %} 
        </table>

{% endblock %}