{% extends 'base.html.twig' %}

{% block title %}Back office | Gestion des articles{% endblock %}

{% block body %}

    
        <h1 class="display-4 text-center my-4">Gestion des recettes</h1>

    <div class="container-fluid">
    
        <a href="{{ path('admin') }}" class="btn btn-warning btn-sm mb-3 mr-3 font-weight-bold font-italic">Retour au BACKOFFICE</a>
        <a href ="{{ path('admin_new_recette')}}"class="btn btn-warning btn-sm mb-3 font-weight-bold font-italic" >Ajouter la recette</a>      
        
        <div class="table-responsive-sm">
            <table class="table table-bordered text-center bg-white text-dark effet-table">
                <tr class="bg-dark text-white ">

                    {% for data in colonnes %}
                


                        {% if data !='id' %}

                            <th scope="col" >{{ data }}</th>


                        {% endif %}  

                    {% endfor %}

                    <th scope='col'>Categories</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Supprimer</th>
                </tr>

                {% for data in recettes %}

                    <tr>
                        <td>{{ data.title}}</td>
                        <td><img src="{{ asset('images/recettesImages/' ~ data.image ) }}" alt="{{ data.title }}" style="width: 150px;"></td>
                        <td>{{ data.content|raw }}</td>
                        <td>{{ data.createdAt|date("d/m/Y à H:i:s") }}</td>
                        <td>{{ data.updatedAt|date("d/m/Y à H:i:s") }}</td>
                        <td>{{ data.category.title}}</td>
                        <td><a href="{{ path('admin_edit_recette', {'id': data.id }) }}" class="btn btn-dark text-white"><i class="fas fa-edit fa-1x"></i></a></td>
                        <td><a href="{{ path('admin_delete_recette', {'id': data.id }) }}" class="btn btn-danger text-white" onclick="return(confirm('En êtes vous certain ?'))"><i class="fas fa-trash-alt fa-1x"></i></a></td>
                    </tr>
                
                {% endfor %} 
            </table>
        </div>
    </div>


{% endblock %}