{% extends 'base.html.twig' %}

{% block title %}Back office | Gestion des membres{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4"> Backoffice | Modification du membres </h1>

    {{ form_start(formUser, {'attr' : {'class' : 'col-md-6 mx-auto'}} ) }}

        {{form_row(formUser.username, {'label' : "Nom du membre"}) }}

        {{ form_row(formUser.email) }}

        {{ form_row(formUser.roles, {'label' : "Role membre"}) }}

        <button type="submit" class="btn btn-dark">Modification du membre</button>

    {{ form_end(formUser) }}

{% endblock %}