{% extends 'base.html.twig' %}

{% block title %}Back office | Getion des membres{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">
    {% if editMode %}
        BACKOFFICE | Modification du membres
        
    {% else %}   
    BACKOFFICE | Ajouter un nouvel membre
    
    {% endif %}
</h1>


{{ form_start(formEdit, {'attr' : {'class' : 'col-md-6 mx-auto'}} ) }}

    {{form_row(formEdit.username, {'label' : "Nom de membre"}) }}

    {{ form_row(formEdit.email, {'attr' : {'placeholder': 'Adresse email'}}) }}

    {{ form_row(formEdit.password, {'label' : 'Mot de passe', 'attr': {'placeholder': 'Mot de passe'}}) }}


    <button type="submit" class="btn btn-info">
        {% if editMode %}            
            Enregistrer les modifications         
        {% else %}             
            Ajouter l'article         
        {% endif %}     
    </button>


{{ form_end(formEdit) }}

{% endblock %}