{% extends 'base.html.twig' %}

{% block title %}Back office | Modifier des recettes{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4 ">
    {% if editMode %}         
        BACKOFFICE | Modification du recette  

    {% else %}         
        BACKOFFICE | Poster un nouvel recette    
        
    {% endif %}
</h1> 
   

    {{ form_start(formEdit, {'attr':{'class': 'col-md-7 mx-auto'}}) }}

    {{ form_row(formEdit.title, {'attr':{'placeholder': "Saisir le titre de l'recette..."}}) }}

    {{ form_row(formEdit.category) }}

    {{ form_row(formEdit.content, {'attr':{'placeholder': "Contenu le titre de l'recette...","rows":10}}) }}

    {{ form_row(formEdit.image, {'attr':{'placeholder': "Saisir l'URL de l'image..."}}) }}

    <button type="submit" class="btn btn-info">
        {% if editMode %}            
            Enregistrer les modifications         
        {% else %}             
            Ajouter l'article         
        {% endif %}     
    </button>


    {{ form_end(formEdit) }}


{% endblock %}