{% extends 'base.html.twig' %}

{% block title %} Blog Cuisine Internationales| Recettes {% endblock %}

{% block body %}

<h2 class="display-4 text-center my-4 animate__animated animate__backInDown" style="animate-delay: 1.2s;"> Toutes les Recettes </h2>
    
<div class="container">

    <div class="row d-flex justify-content-around ">

        {% for data in recettes %}


            
                

            
            <div class="card mb-4 text-center border border-dark rounded-lg animate__animated animate__zoomIn image" style="width: 18rem;">
                <img src="{{ asset('images/recettesImages/' ~ data.image ) }}" class="card-img-top" alt="{{ data.title }}">

                <div class="card-body">
                    <h3 class="card-title name"> {{ data.title }} </h3> <!-- to dynamically change the title name for each cards -->
                    
                    <p class="card-text"> {{ data.content|slice(0, 100)|raw }}... </p> <!-- 'raw' or 'striptags'to remove the <p> tags from the sides on the contents-->
                    <hr>
                    <p> Posté le {{ data.createdAt|date("d/m/Y") }} à {{ data.createdAt|date("H:i:s") }} </p>
                    <a href="{{ path('blog_show', {'id':data.id}) }}" class="btn btn-dark">Voir le détail</a>
                </div>
            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}