<html>

    <table class="table table-bordered">
    <tr>
    <td>Prénom</td>
    <td>{{ contact.firstname }}</td>
    </tr>
          
    <tr>
    <td>Nom</td>
    <td>{{ contact.lastname }}</td>
    </tr> <tr>
    <td>Téléphone</td>
    <td>{{ contact.phone }}</td> </tr>
    <tr>
    <td>Email</td>
    <td>{{ contact.email }}</td>
    </tr> <tr>
    <td>Message</td>
    <td>{{ contact.message }}</td> </tr>
    </table>
    
</html> 